.header {
  max-width: 1920px;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.header__top {
  background-color: black;
}

.header__top-container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-right: calc(40px + (179 - 40) * ((100vw - 1025px) / (1920 - 1025)));
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: transparent; */
}

.header__top-item {
  color: #FFF;
}

.header__top-link {
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 600;
  color: var(--color-FFF);
  transition: all 0.3s ease-in-out;
}

.header__top-menu {
  display: flex;
  flex-grow: 1;
}

.header__top-list {
  display: flex;
}

.header__top-nav {
  margin-right: auto;
}

.header__top-item {
  margin-right: calc(24px + (62 - 24) * ((100vw - 1025px) / (1920 - 1025)));
}

.header__searchwrapper {
  display: none;
}

.header__burger {
  position: relative;
  width: 35px;
  height: 28px;
  background-color: transparent;
  display: none;
  z-index: 10000;
}

.header__burger:before,
.header__burger:after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: var(--color-FFF);
}

.header__burger span {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  background-color: var(--color-FFF);
  width: 83%;
  top: 45%;
}

.header__burger:before {
  width: 100%;
  top: 0;
}

.header__burger:after {
  width: 60%;
  bottom: 0;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.502);
}

.header__bottom-container {
  padding-top: 23px;
  padding-bottom: 21px;
}

.header__bottom-menu {
  display: flex;
  justify-content: space-between;
}

.header__bottom-list {
  display: flex;
  justify-content: space-between;
}

.header__bottom-item {
  margin-right: calc(20px + (96 - 20) * ((100vw - 1025px) / (1920 - 1025)));
  position: relative;
}

.header__bottom-nav-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 14px 0 0;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 400;
  color: var(--color-FFF);
  background-color: transparent;
}

.header__bottom-nav-btn::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 7px;
  height: 7px;
  border-right: 1px solid var(--color-FFF);
  border-bottom: 1px solid var(--color-FFF);
  transform: rotate(45deg);
  transition: border-color 0.3s ease-in-out;
}

.dropdown__container {
  display: none;
}

.dropdown__link {
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 600;
  color: var(--color-FFF);
}

.search-form {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-1px);
}

.search-form__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(120px + (220 - 120) * ((100vw - 1025px) / (1920 - 1025)));
  transition: width 0.3s ease-in-out;
}

.search-form__btn {
  margin-right: 7px;
  background-color: transparent;
  transform: translateY(3px);
}

.search-form__field::placeholder {
  color: var(--color-FFF);
}

.search-form__field {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: rgba(255, 255, 255, 0.85);
  font-size: calc(10px + 8 * (100vw / 1920));
  line-height: 25px;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

.header__top-link:focus {
  outline: none;
  background-color: var(--color-9d5);
}

.header__top-link:hover {
  background-color: transparent;
  color: var(--color-C28);
}

.header__top-link:active {
  color: var(--color-794);
}