.hero__container {
  position: relative;
  padding-top: 233px;
  min-height: calc(768px + (800 - 768) * ((100vw - 768px) / (1920 - 768)));
  color: var(--color-white);
}

/* .hero-swiper-container {
  width: 100%;
} */

.hero-swiper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.hero-swiper__slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-swiper__slide:nth-child(1) {
  background-image: url(/img/hero_1.webp), url(/img/hero_1.jpg);
}

.hero-swiper__slide:nth-child(2) {
  background-image: url(/img/hero_2.webp), url(/img/hero_2.jpg);
}

.hero-swiper__slide:nth-child(3) {
  background-image: url(/img/hero_3.webp), url(/img/hero_3.jpg);
}

.hero__descr {
  max-width: 597px;
}

.hero__title {
  max-width: 597px;
  font-size: 72px;
  line-height: 97px;
  font-weight: 700;
  color: var(--color-FFF);
}

.hero__text {
  padding-bottom: 92px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-FFF);
}

.hero__btn {
  /* margin-bottom: 122px; */
  padding: 22.5px 35px;
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 700;
  border-radius: 100px;
  color: var(--color-FFF);
  background-color: var(--color-9d5);
}