<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Blanchard - художественная галерея</title>
</head>

<body>

  <main>
    <section class="hero">
      <div class="container hero__container">
          <div class="hero__swiper hero-swiper">
            <div class="swiper-wrapper hero-swiper__wrapper">
              <div class="swiper-slide hero-swiper__slide"></div>
              <div class="swiper-slide hero-swiper__slide"></div>
              <div class="swiper-slide hero-swiper__slide"></div>
            </div>
            <div class="hero-swiper__pagination"></div>
          </div>
          <div class="hero__descr">
            <h1 class="hero__title">
              Прикоснитесь к прекрасному
            </h1>
            <p class="hero__text">
              Мы&nbsp;вынуждены отталкиваться от&nbsp;того, что реализация намеченных плановых заданий создаёт
              предпосылки
              для&nbsp;новых предложений
            </p>
            <button class="hero__btn">
              Подписаться на рассылку
            </button>
          </div>
      </div>
    </section>
  </main>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./js/focus-visible.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./js/jquery-ui.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>